@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins, h1, .prose p, .prose h1, .prose h2{ 
   font-family: 'Poppins', sans-serif !important;
}  

.prose {
font-size:1.8em;

}

